/* Minimal styling for the embedded DjVu Viewer */

.djvu-view-container {
	height: 100%;
	display: flex;
	flex-direction: column;
	min-height: 0;
}

.djvu-viewer {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	padding: var(--size-4-4);
	display: flex;
	flex-direction: column;
	gap: var(--size-4-2);
}

.djvu-view-container .djvu-viewer {
	flex: 1 1 auto;
	min-height: 0;
}

.djvu-viewer__status {
	min-height: 1.5em;
}

.djvu-viewer__frame {
	width: 100%;
	height: 100%;
	border: 0;
	display: block;
}

.djvu-viewer__host {
	flex: 1 1 auto;
	min-height: 0;
}

.djvu-viewer__error {
	color: var(--text-error);
}
